/* nav bar */
.nav{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    border:orange solid;
}

.menu {
    margin-left: 20px;
}

/* background color */
*{
    background-color: black;
}

/* headings in italics & font to Times N. Romans */
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: orange;
    text-decoration: underline;
    text-align: center;
}

.porsche, .spider{
    height: 150px;
    width: 250px;
    color: red;
}

.image-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: relative;
}

.mclaren {
    height: 150px;
    width: 250px;
    margin-top: 100px;
    color: green;
}